{% extends 'base.html' %}
{% load static %}
{% block title %}搜索-{{key}}{% endblock title %}
{% block fdnav %}{% endblock fdnav %}


{% block mainbody %}
  <div class="content-wrap"><!--内容-->
    <div class="content" style="margin-left: 50px;">
      <div class="content-block new-content">
        <h2 class="title"><strong>搜索<span style="color:blue">{{key}}</span>结果如下:</strong><span> &nbsp;&nbsp;共{{num}}条</span></h2>
        <div class="row">
           {% for contact in contacts %}
            <div class="news-list">
              <div class="news-img col-xs-5 col-sm-5 col-md-4"> <a target="_blank" href=""><img src="/static/images/logo.jpg" alt=""> </a> </div>
              <div class="news-info col-xs-7 col-sm-7 col-md-8">
                <dl>
                  <dt> <a href="{% url 'other:source' %}?n={{contact.id}}&s=4566%{{contact.id}}7%38%54" target="_blank" > {{contact.title}} </a> </dt>
                  <dd><span class="name"><a href="#" title="由 jjl 发布" rel="author">{{contact.share_name}}</a></span> <span class="identity"></span> <span class="time"> {{contact.tcreate_time}} </span></dd>
                  <dd class="text">{{contact.content}}</dd>
                </dl>
                <div class="news_bot col-sm-7 col-md-8"> <span class="tags visible-lg visible-md"> <a href="">本站</a> <a href="">{{contact.share_name}}</a> </span> <span class="look"> 共 <strong>2126</strong> 查看<strong> 12 </strong> 使用  </span> </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <!--<div class="news-more" id="pagination">
        	<a href="">查看更多</a>
        </div>-->
        <div class="quotes" style="margin-top:15px">
          <a href="?page=1">首页</a>
          {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
          {% endif %}

            {% for  page_number in  paginator.page_range %}
            {# 获取当前页的页码 #}
                {% if page_number == page.number %}
                    {# 如果是当前页的话，选中 #}
                    <a href="?page={{page_number}}">{{page_number}}</a>
                {% else %}
                    <a href="?page={{page_number}}">{{page_number}}</a>
                {% endif %}
            {% endfor %}

          {% if contacts.has_next %}
              <a href="?page={{ contacts.next_page_number }}">下一页</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock mainbody %}
  <!--/内容-->

