{% extends 'base.html' %}
{% load static %}
{% block title %}分享资源{% endblock title %}
{% block fdnav %}{% endblock fdnav %}

{% block mainbody %}
  <div class="content-wrap"><!--内容-->
    <div class="content" style="margin-left: 50px;">   
      <div class="content-block comment">
        <h2 class="title"><strong>分享资源</strong></h2>
        <form action="{% url 'srik:enjoy' %}" method="post" class="form-inline" onsubmit="return zycheck()" id="comment-form">
            {% csrf_token %}
           <div class="comment-title">
           	<div class="form-group">
              <label for="commentName">资源主题</label>
              <input type="text" name="title" class="form-control" id="commentName" placeholder="java教程">
            </div>
            <div class="form-group">
              <label for="commentEmail">资源值B币数</label>
              <input type="text" name="sourcevalue" class="form-control" id="value" placeholder="150">
            </div>
           </div>
           <div class="comment-title">
          	<div class="form-group">
              <label for="commentName">资源图片</label>
              <input type="file" id="test-image-file" name="sourceimg" accept="image/gif, image/jpeg, image/png, image/jpg">
            </div>
            <div class="form-group">
              <label for="commentName">资源类型</label>
              <select name="source_type" style="width:100px;eight:50px;">
			    <option >百度网盘资源</option>
			    <option >编程源码资源</option>
			    <option >其他资源</option>
			  </select>
            </div>

          </div>
          <div class="comment-title">
          	<div class="form-group">
              <label for="commentName">百度网盘/源码地址链接</label>
              <input type="text" name="source_bgurl" class="form-control" id="bgurl" placeholder="https://pan.baidu.com/share/init?surl=6EaDtk1xlFlPM_B_pr8cXA">
            </div>
            <div class="form-group">
              <label for="commentEmail">网盘密码</label>
              <input type="text" name="source_psw" style="width: 300px;" class="form-control" id="urlpsw" placeholder="">
            </div>
          </div>
            <input type="hidden"  name="share_name"  value="{{request.session.username}}" >
          <div class="comment-form">
            <textarea placeholder="分享资源描述" name="sourcedsp"></textarea>
            <div class="comment-form-footer">
              <div class="comment-form-text">多谢您的分享 </div>
              <div class="comment-form-btn">
                <button type="submit" class="btn btn-default btn-comment enjoy">提交分享</button>
              </div>
            </div>
          </div>
        </form>
      </div>
        <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
<script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
<script src="{% static 'js/qiniu.js' %}"></script>
      <script>
          /*---------关于七牛上传代码start-----------*/
(function () {
    // 需要拷贝自己七牛上的地址(不知道怎么拷贝,先手动上传一个,复制地址就好)
    var domain = 'q2sck68ly.bkt.clouddn.com';
    var uploader = Qiniu.uploader({
        runtimes: 'html5,flash,html4', //上传模式，依次退化
        browse_button: 'test-image-file', //上传选择的点选按钮id，必须
        container: 'comment-form', //上传区域DOM的ID，默认是browse_button的父元素
        drop_element: 'test-image-file', //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
        max_file_size: '50mb', //文件最大允许的尺寸
        dragdrop: true, //是否开启拖拽上传
        chunk_size: '4mb', //分块上传时，每片的大小
        uptoken_url: '{% url 'qiniuyun:token' %}', //ajax请求token的url(书写上面第四点的地址)
        domain: domain, //图片下载时候的域名
        get_new_uptoken: false, //是否每次上传文件都要从业务服务器获取token
        auto_start: true, //是否自动上传
        log_level: 5, //log级别
        init: {
            'FilesAdded': function (up, files) {
                // 文件添加进队列后，处理相关的事情
                console.log('file added');
            },
            'BeforeUpload': function (up, file) {
                // 每个文件上传前，处理相关的事情
                console.log('before upload');
            },
            'UploadProgress': function () {
                // 每个文件上传时，处理相关的事情
                console.log('upload progress');
            },
            'FileUploaded': function (up, file, info) {
                // 每个文件上传成功后，处理相关的事情
                // 刚刚上传的文件名称domain + file.name
                console.log('file uploaded-----------');
                // 把上传的文件地址保存到本地的隐藏域中
                $('#imgUrl').val(domain + file.name);
            },
            'Error': function (up, err, errTip) {
                console.log('error:' + err);
            },
            'UploadComplete': function () {
                //队列文件处理完毕后，处理相关的事情
            },
            'Key': function (up, file) {
                // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                // 该配置必须要在unique_names: false，save_key: false时才生效
                var key = +new Date(); // 对上传的文件重命名
                // do something with key here
                return key
            }
        }
    });
})();
/*---------关于七牛上传代码end-----------*/
      function zycheck(){
        //var source_value = $('#source_value').text();
        //var user_name = $('#username').val();
        var title=$('#commentName').val();
        var value=$('#value').val();
        var bgurl=$('#bgurl').val();

        var session='{{request.session.username}}';
        if (session==''){
           alert("你未登录，请先登录！");
           return false;
        }
        else{
            if (title==''){
               alert("主题不能为空！");
               return false;

            }
            else{
               if (value==''){
                   alert("资源价值不能为空！");
                   return false;

               }
               else{
                   if (bgurl==''){
                        alert("资源连接不能为空！");
                         return false;

                   }
                   else{
                        alert("分享成功！");
                        return true;
                   }
               }

            }
        }
      }

      </script>
    </div>
  </div>
{% endblock mainbody %}
  <!--/内容-->

